extends: default

rules:
  comments-indentation: disable
  line-length:
    max: 120
    level: error
  document-start: disable   # allow or ignore leading '---'
  empty-lines: disable      # allow blank lines
  new-lines:
    type: unix

ignore: |
  .git/
  node_modules/
  demo-api/node_modules/
  demo-api/helm/**/templates/*.yaml
