extends: default

ignore: |
  ansible/collections/**
  **/tests/**
  **/.venv/**
  **/node_modules/**

rules:
  comments-indentation: false
  comments:
    min-spaces-from-content: 1
  braces:
    max-spaces-inside: 1
  octal-values:
    forbid-implicit-octal: true
    forbid-explicit-octal: true
  line-length:
    max: 120
    level: warning
    allow-non-breakable-words: true
    allow-non-breakable-inline-mappings: true
